.middleSectionDiv{
    width: 100%;
    flex: 10 10 300px;
    background-color: darkgrey;   
    display: flex;
    flex-direction: column;
}

.middleLeftSection{
    background-color: #4c50ff;
    flex: 1;
    display: flex;
    flex-direction: column;
    order: 2;
  }
 

.middleRightSection{
    background-color: #4c50ff;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rightSideTitle{
    flex: 12;
    width: 85%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px 0 10px 0;
    border-radius: 5px 5px 0 0;
    background-color: #00027f;
}

.rightSideTitle:hover{
    background-color: #f2b315;
} 

.rightSideImageFrame{
    flex: 12;
    background-color: #000133;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.rightSideImage{
    width: 100%;
    background-color: lightgrey;
    border-radius: 0 0 5px 5px; 
}
  
  

@media ( min-width: 760px ){
    .middleSectionDiv{
      flex-direction: row;
    }
  
    .middleLeftSection{
      order: 0;
    }
}  