.middleSectionDiv{
    height: 75vh;
}


.mainPhotoDiv{
    background-color: white;
    float: right;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.largeImage{
    width: 100%;
    flex: 1;
}

.leftSide{
    height: 100%;
    width: 50%;
}

.outsidePhotosLink{
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
    text-align: center;
    background-color: #00027f;
}

.outsidePhotosLink:hover{
    background-color: #f2b315;
}