.middleSectionDiv{
    height: 75vh;
}


.mainPhotoDiv{
    background-color: white;
    float: right;
    width: 50%;
    height: 100%;
}

.largeImage{
    width: 100%;
}

.leftSide{
    height: 100%;
}

.outsidePhotosLink{
    width: 100%;
    margin: 0px auto;
    padding: 10px;
    text-align: center;
    background-color: #00027f;
}

.outsidePhotosLink:hover{
    background-color: #f2b315;
}