.apartmentDiv{
    box-sizing: border-box;
    width: 20%;
    border: 1px solid blue;
    display: inline-block;
    text-align: center;
    color: black;
}

.apartmentDiv:hover{
    background-color: #f2b315;
}