.mainDiv{
    background-color: #001333;
    margin: auto;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-height: 900px;

}


@media ( min-width: 760px ){ 
 }