.summary{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5% 2%;
    background-color: #4c50ff;
    text-align: center;
    color: white;
}

.introParagraph{
    width: 75%;
    margin: 2% auto;
}

.topParagraph{
    margin-top: 3%;
}