.summary{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #4c50ff;
    text-align: center;
    color: white;
}

.introParagraph{
    width: 75%;
    margin: auto;
    flex: 1;
}

.topParagraph{
    margin-top: 3%;
}