.summary{
    flex: 1;
    background-color: #4c50ff;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leftContentItem{
    flex: 1;
    width: 85%;
}

.leftContentItem > h1{
    margin: 50px auto 25px;
}